body {
    font-family: 'Open Sans';
    font-weight: 400;
}

.icons {
    min-width: 50px;
    max-width: 120px;
}

body {
    color: #393939;
}

h1 {
    font-size: 60px;
    font-weight: 300;
}

h2 {
    font-size: 60px;
    font-weight: 300;
}

h3 {
    font-size: 33px;
    font-weight: 300;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 21px;
}

.pink-card {
    background-color: #FFF0ED;
}

.grey-card {
    background-color: #F7F7F7;
}

.pricing {
    color: #5BACC3;
}