* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
    padding: 20px 0;
    color: #393939;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    padding: 20px 0 40px 0;
    color: #393939;
}

h3 {
    font-size: 2.063rem;
    font-weight: 300;
    color: #393939;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.313rem;
}

.icons {
    min-width: 50px;
    max-width: 120px;
}

.nav__heading {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.313rem;
    color:  #393939;
    padding: 20px;
}

.nav__heading--shop {
    color: #5BACC3;
}

.nav__heading:hover {
    color: #5BACC3;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 60px;
}

nav * {
    display: inline;
}

.nav__icon {
    padding: 20px 0 0 20px;
    vertical-align: text-bottom;
}

.nav__title {
    text-decoration: none;
    color:  #393939;
    padding-right: 20px;
}

.nav__title--sizing {
    font-size: 3rem;
}

.centered {
    text-align: center;
}

.pad-bottom {
    padding-bottom: 20px;
}

.pink-background {
    background-color: #FFF0ED;
}

.grey-background {
    background-color: #F7F7F7;
}
