.nav-link {
    font-size: 1.313rem;
}

p {
    font-size: 1.125rem;
    color: #393939;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.header__title-container>p {
    padding-bottom: 40px;
}

.header__title-container {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
}

.header__image-container {
    text-align: center;
    display: inline-block;
    margin-right: 10%;
}

.header-title {
    padding: 30% 20%;
}

.header-image {
    object-fit: contain;
}

.button {
    background-color: #5bacc3;
    color: white;
    border: none;
    min-width: 180px;
    max-width: 80%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 21px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
}

.product-button {
    margin: 20px auto 60px auto;
}

.product__header {
    padding: 60px 0 20px 0;
}

.product__card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product__card {
    background-color: white;
    display: flex;
    width: 20%;
    flex-direction: column;
    min-width: 330px;
    max-width: 350px;
    min-height: 440px;
    max-height: 460px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    align-content: stretch;
    justify-content: stretch;
}

.product__card:hover {
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.5);
}

.product__card--image {
    object-fit: cover;
}

.product__card--top {
    padding: 20px;
    height: 70%;
    display: flex;
    justify-content: center;
}

.product__card--bottom {
    display: flex;
    height: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF0ED;
    padding: 0 20px;
    border-radius: 0 0 10px 10px;
}

.product__pricing {
    color: #5bacc3;
    font-size: 2.063rem;
    font-weight: bold;
}

.discount-container {
    text-align: center;
}

.discount {
    min-width: max-content;
    text-align: center;
    max-width: 90%;
    background-color: #393939;
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin: 200px auto;
    padding: 40px 0;
}

.footer-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__card {
    text-align: left;
    display: inline-block;
    margin: 80px 40px;
}

.footer__titles {
    padding-bottom: 20px;
}

.bold {
    font-weight: 700;
}

.quantity {
    color: #909090;
    text-align: left;
}

.difference__area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
    align-items: center;
}

.difference__content {
    display: inline-block;
    margin-left: 5%;
    width: 35%;
}

.difference__icons {
    width: 50px;
}

.difference__icons--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.difference__image--container {
    display: flex;
    margin-right: 5%;
    background-image: url('../assets/images/coldbrewbackground.png');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 400px;
    align-items: center;
    justify-content: center;
}