.nav-link {
    font-size: 1.313rem;
}

h3 {
    padding-bottom: 20px;
}

p {
    font-size: 1.125rem;
    padding-bottom: 20px;
    color: #393939;
}
.header-container {
    width: 100%;
}

.header__title-container>p {
    padding-bottom: 40px;
}

.header__title-container {
    vertical-align: 200px;
    display: inline-block;
    width: 30%;
    margin: 0 10% 0 10%;
}

.header__image-container {
    width: 45%;
    text-align: center;
    display: inline-block;
    margin: 40px 0;
}

.header-title {
    padding: 30% 20%;
}

.header-image {
    object-fit: contain;
}

.button {
    background-color: #5bacc3;
    color: white;
    border: none;
    min-width: 180px;
    max-width: 80%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 21px;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.product-button {
    margin: 20px auto 60px auto;
}

.discount-container {
    text-align: center;
}

.discount {
    min-width: max-content;
    text-align: center;
    max-width: 90%;
    background-color: #393939;
    color: white;
    font-size: 45px;
    font-weight: 400;
    margin: 200px auto;
    padding: 40px 0;
}
.product__header {
    padding: 60px 0 20px 0;
}

.product__card-area {
    text-align: center;
}

.product__card {
    background-color: white;
    display: inline-block;
    width: 20%;
    min-width: 330px;
    max-width: 350px;
    min-height: 440px;
    max-height: 460px;
    padding: 20px;
    margin: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.product__card:hover {
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.5);
}

.product__card--image {
    object-fit: cover;
}

.footer-area {
    text-align: center;
}

.footer__card {
    text-align: left;
    display: inline-block;
    margin: 40px;
}

.product__card--image-container {
    padding: 20px 0;
    height: 240px;
    margin: auto;
}

.product__pricing {
    color: #5bacc3;
    font-size: 2.063rem;
}

.bold {
    font-weight: 700;
}

.button-container {
    text-align: center;
}