p {
    font-size: 1.125rem;
    font-weight: 400;
}

.hero-container__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 280px;
    max-width: 300px;
    min-height: 180px;
    max-height: 200px;
    border: 5px solid #5BACC3;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

.hero-container__title--background {
    background-color: #393939;
    min-width: 280px;
    max-width: 300px;
    min-height: 180px;
    max-height: 200px;
    position: relative;
    box-sizing: border-box;
    top: 20px;
    left: 20px;
}

.hero-container {
    background-image: url('../assets/images/coffee-circle.jpg');
    min-width: 100%;
    max-width: 100%;
    min-height: 575px;
    max-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-nav {
    min-width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 80px;
    padding: 20px;
    background-color: #393939;
    color: white;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
}

.sub-nav__heading {
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size: 21px;
    width:100%;
    border-left: solid 4px #5bacc3;
    padding: 0 20px;
}

.sub-nav__heading:hover {
    color: #5bacc3;
}

.menu__description {
    font-style: italic;
    text-align: center;
    max-width: 50%;
    padding: 0 25%;
}

.pink-card {
    background-color: #FFF0ED;
    padding-bottom: 20px;
}

.grey-card {
    background-color: #F7F7F7;
    padding-bottom: 20px;
}

.pricing {
    color: #5BACC3;
    padding: 20px 0;
}