@use './partials/global' as *;

p {
    font-size: 1.125rem;
    font-weight: 400;
}

.hero-container {
    background-image: url('../assets/images/coffee-circle.jpg');
    min-width: 100%;
    max-width: 100%;
    min-height: 575px;
    max-height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        min-width: 280px;
        max-width: 300px;
        min-height: 180px;
        max-height: 200px;
        border: 5px solid $primary-colour;
        position: absolute;
        z-index: 1;
        box-sizing: border-box;

        &--background {
            background-color: $secondary-colour;
            min-width: 280px;
            max-width: 300px;
            min-height: 180px;
            max-height: 200px;
            position: relative;
            box-sizing: border-box;
            top: 20px;
            left: 20px;
        }
    }
}

.sub-nav {
    min-width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 80px;
    padding: 20px;
    background-color: $secondary-colour;
    color: white;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;

    &__heading {
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        font-size: 21px;
        width:100%;
        border-left: solid 4px $primary-colour;
        padding: 0 20px;
    
        &:hover {
            color: $primary-colour;
        }
    }
    
}

.menu__description {
    font-style: italic;
    text-align: center;
    max-width: 50%;
    padding: 0 25%;
}

.pink-card {
    background-color: $primary-bg;
    padding-bottom: 20px;
}

.grey-card {
    background-color: $secondary-bg;
    padding-bottom: 20px;
}

.pricing {
    color: $primary-colour;
    padding: 20px 0;
}

#hot-drinks, #pastries {
    background-color: $primary-bg;
    padding-bottom: 20px;
    text-align: center;
}

#cold-drinks {
    background-color: $secondary-bg;
    padding-bottom: 20px;
    text-align: center;
}

.menu-nav {
    padding-bottom: 20px;
}