$primary-colour: #5BACC3;
$secondary-colour: #393939;
$primary-bg: #FFF0ED;
$secondary-bg: #F7F7F7;

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
}

h1 {
    font-size: 3.75rem;
    font-weight: 300;
    padding: 20px 0;
    color: $secondary-colour;
}

h2 {
    font-size: 3.75rem;
    font-weight: 300;
    padding: 20px 0 40px 0;
    color: $secondary-colour;
}

h3 {
    font-size: 2.063rem;
    font-weight: 300;
    color: $secondary-colour;
}

li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.313rem;
}

.icons {
    min-width: 50px;
    max-width: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 60px;
    background-color: $primary-bg;

    * {
        display: inline;
    }
}

.nav {
    &__heading {
        text-decoration: none;
        list-style-type: none;
        text-transform: uppercase;
        font-size: 1.313rem;
        color:  $secondary-colour;
        padding: 20px;
        
        &--shop {
            color: $primary-colour;
        }
    
        &:hover {
            color: $primary-colour;
        }
    }

    &__icon {
        padding: 20px 0 0 20px;
        vertical-align: text-bottom;
    }
    
    &__title {
        text-decoration: none;
        color:  $secondary-colour;
        padding-right: 20px;

        &--sizing {
            font-size: 3rem;
        }
    }
}
